# Data Extraction

In [4]:
#Imports
import pandas as pd
import numpy as np
import datetime
import os
import warnings
import json
from sqlalchemy import create_engine

## Connect to database

In [8]:
# Load the file 
json_data = json.loads(open('../../db_conn.json').read())

conn = 'mysql+pymysql://'+json_data["user"]+':'+json_data["password"]+'@'+json_data["host"]+':'+str(json_data["port"])+'/'+json_data["db_name"]

In [9]:
# Connect to the DB
mysql_engine = create_engine(conn,echo=False)

In [11]:
pd.read_sql_query("""select count(*) from weather""", conn)

   count(*)
0     20517